.h2 {
  margin: 0;
  height: 42px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  min-width: 42px;
  white-space: nowrap;
}
.columns {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--font-playfair-display);
}
.about,
.page,
.recipes,
.restaurants {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 81px;
}
.about,
.page,
.recipes {
  min-width: 53px;
}
.about,
.page {
  min-width: 41px;
}
.page {
  min-width: 34px;
}
.or-sign-up-with {
  width: 8px;
  height: 4px;
  position: relative;
}
.or-sign-up-with-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
}
.page-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  text-align: right;
}
.page-parent,
.restaurants-parent,
.right-column {
  display: flex;
  align-items: flex-start;
}
.restaurants-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.right-column {
  width: 358px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
}
.login {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  min-width: 43px;
  white-space: nowrap;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.base {
  height: 56px;
  width: 115px;
  position: relative;
  border-radius: var(--br-17xl);
  background-color: var(--color-tomato-200);
  display: none;
}
.button,
.sign-up {
  white-space: nowrap;
}
.sign-up {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: center;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--color-tomato-200);
  border-radius: var(--br-17xl);
  justify-content: flex-start;
}
.button:hover {
  background-color: #ff5c52;
}
.button,
.columns-parent,
.frame-parent,
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent {
  justify-content: flex-start;
  gap: 30px;
  text-align: right;
  font-size: var(--font-size-base);
}
.columns-parent,
.main {
  max-width: 100%;
}
.columns-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.main {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 43px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--dark);
  font-family: var(--font-inter);
}
.your-favorite-food {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 65px;
  font-weight: 700;
  font-family: inherit;
}
.the-food-at {
  width: 528px;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.01em;
  line-height: 30px;
  display: inline-block;
  max-width: 100%;
}
.slogan {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.fill {
  height: 64px;
  width: 464px;
  position: relative;
  border-radius: var(--br-37xl);
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.enter-your-delivery {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  z-index: 1;
}
.location-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.order-now {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 94px;
}
.fill-parent,
.order-button {
  border-radius: var(--br-37xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.order-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-tomato-100);
  box-shadow: 0 10px 20px -10px rgba(234, 234, 234, 0.4);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.order-button:hover {
  background-color: var(--color-orangered);
}
.fill-parent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.app-store-black-border,
.google-play-black-border {
  height: 40.72%;
  width: 40.26%;
  position: absolute;
  margin: 0 !important;
  top: 59.28%;
  right: 59.74%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google-play-black-border {
  width: 39.31%;
  right: 13.32%;
  left: 47.37%;
}
.app-links,
.banner-content,
.slogan-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.app-links {
  width: 464px;
  height: 167px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  gap: 35px 33px;
  font-size: var(--font-size-sm);
  color: #afafaf;
}
.banner-content,
.slogan-parent {
  flex-direction: column;
  align-items: flex-start;
}
.slogan-parent {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.banner-content {
  flex: 1;
  padding: var(--padding-17xl-5) 0 0;
  box-sizing: border-box;
  min-width: 380px;
}
.frame-child,
.images-icon {
  position: relative;
  max-width: 100%;
}
.frame-child {
  height: 478px;
  width: 570px;
  border-radius: var(--br-17xl);
  background-color: var(--color-antiquewhite);
  display: none;
}
.images-icon {
  height: 452px;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.banner,
.rectangle-parent {
  flex-direction: row;
  justify-content: flex-start;
}
.rectangle-parent {
  height: 478px;
  width: 570px;
  border-radius: var(--br-17xl);
  background-color: var(--color-antiquewhite);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  padding: 37px var(--padding-16xl) 0;
  box-sizing: border-box;
  min-width: 570px;
  max-width: 100%;
}
.banner {
  align-self: stretch;
  gap: 109px;
}
.banner,
.content,
.root {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content {
  width: 1264px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 103px;
}
.root {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 200px;
  box-sizing: border-box;
  text-align: left;
  font-size: 61px;
  color: var(--dark);
  font-family: var(--font-inter);
}
.m {
  text-transform: capitalize;
}
.ore {
  text-transform: lowercase;
}
.t {
  text-transform: capitalize;
}
.han,
.more-t {
  font-weight: 600;
}
.b {
  font-family: var(--font-inter);
  color: var(--color-tomato-100);
}
.han-10000,
.span {
  text-transform: lowercase;
}
.d {
  text-transform: capitalize;
}
.ishes {
  text-transform: lowercase;
}
.t1 {
  text-transform: capitalize;
}
.o {
  text-transform: lowercase;
}
.o1 {
  text-transform: capitalize;
}
.rder {
  text-transform: lowercase;
}
.dishes-to-order {
  font-weight: 600;
}
.more-than-10000-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 58px;
  font-family: inherit;
}
.welcome-to-the {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
}
.more-than-10000-dishes-to-ord-parent,
.welcome-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.welcome-message {
  flex-direction: row;
  padding: 0 54px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.more-than-10000-dishes-to-ord-parent {
  width: 622px;
  flex-direction: column;
  gap: 17px;
  max-width: 100%;
}
.count-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.base1 {
  width: 168px;
  height: 232px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  display: none;
}
.pizza-icon-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 18px 44px -12px rgba(135, 135, 135, 0.09);
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.pizza-icon-container {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.pizza {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.pizza-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-4xl);
  font-size: var(--font-size-5xl);
}
.base2,
.card-7 {
  width: 168px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
}
.card-7 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.base2 {
  height: 232px;
  position: relative;
  display: none;
}
.burger-icon-circle {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 18px 44px -12px rgba(135, 135, 135, 0.09);
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div1 {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.burger-icon-container {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.burger {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.burger-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
  font-size: var(--font-size-5xl);
}
.base3,
.card-03 {
  width: 168px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
}
.card-03 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.base3 {
  height: 232px;
  position: relative;
  display: none;
}
.sushi-icon-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div2 {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.sushi-icon-container {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.sushi {
  width: 63px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.card-01,
.category-cards,
.sushi-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sushi-label {
  flex-direction: row;
  padding: 0 var(--padding-4xl) 0 var(--padding-3xl);
  font-size: var(--font-size-5xl);
}
.card-01,
.category-cards {
  gap: var(--gap-13xl);
}
.card-01 {
  width: 168px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-17xl);
  box-sizing: border-box;
}
.category-cards {
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  min-width: 369px;
  max-width: 100%;
}
.category-cards-child {
  width: 568px;
  height: 232px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.find {
  font-weight: 500;
}
.deals {
  font-weight: 600;
  color: var(--color-tomato-100);
}
.span1 {
  font-weight: 500;
}
.free-delivery {
  font-weight: 600;
  color: #009b00;
}
.and-more-from {
  font-weight: 500;
}
.find-deals-free-container {
  width: 437px;
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.illustrations-icon,
.illustrations-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.illustrations-icon1 {
  z-index: 2;
}
.illustrations-parent {
  height: 116.8px;
  width: 192.1px;
  position: relative;
}
.category-cards-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.categories,
.categories-wrapper,
.category-cards1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.category-cards1 {
  flex: 0.8928;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: 38px 27.9px 1.3px var(--padding-14xl);
  box-sizing: border-box;
  gap: 13.9px;
  min-width: 369px;
  text-align: left;
  font-size: 25.8px;
  color: var(--color-darkslategray-100);
}
.categories,
.categories-wrapper {
  flex-direction: row;
}
.categories {
  width: 1168px;
  justify-content: center;
  gap: var(--gap-13xl);
}
.categories-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-34xl-2);
}
.lorem-ipsum-dolor,
.vector-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.vector-icon {
  width: 61px;
  height: 50.4px;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  line-height: 34px;
  z-index: 1;
}
.description,
.description-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description-content {
  align-self: stretch;
  gap: 36.3px;
}
.description {
  width: 545px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 545px;
  max-width: 100%;
}
.base4 {
  width: 168px;
  height: 232px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  display: none;
}
.food-icon-circles {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 18px 44px -12px rgba(135, 135, 135, 0.09);
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div3 {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.icon-containers {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.pasta {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.food-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  font-size: var(--font-size-5xl);
}
.base5,
.card-06 {
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
}
.card-06 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-11xl) var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 126px;
}
.base5 {
  width: 168px;
  height: 232px;
  position: relative;
  display: none;
}
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 18px 44px -12px rgba(135, 135, 135, 0.09);
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div4 {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.ellipse-parent {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.salad {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.salad-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) 0 var(--padding-4xl);
  font-size: var(--font-size-5xl);
}
.base6,
.card-05 {
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
}
.card-05 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 126px;
}
.base6 {
  width: 168px;
  height: 232px;
  position: relative;
  display: none;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 18px 44px -12px rgba(135, 135, 135, 0.09);
  border-radius: 50%;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div5 {
  position: absolute;
  top: 27px;
  left: 27px;
  letter-spacing: -0.01em;
  line-height: 54px;
  font-weight: 500;
  z-index: 2;
}
.ellipse-group {
  align-self: stretch;
  height: 108px;
  position: relative;
}
.desserts {
  width: 102px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.card-04,
.desserts-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.desserts-wrapper {
  flex-direction: row;
  padding: 0 3px;
  font-size: var(--font-size-5xl);
}
.card-04 {
  flex: 1;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 126px;
}
.description-parent,
.food-cards {
  flex-direction: row;
  justify-content: flex-start;
}
.food-cards {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-13xl);
  min-width: 369px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-34xl-2);
  color: var(--dark);
}
.description-parent {
  width: 1113px;
  row-gap: 20px;
  text-align: left;
  font-size: 23px;
  color: #494949;
}
.count-container,
.count-container-wrapper,
.description-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.count-container {
  width: 1310px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46.5px;
}
.count-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-176xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-27xl);
  color: var(--dark);
  font-family: var(--font-inter);
}
.how-to-order {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
}
.order-process-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 25px;
}
.step-dividers {
  width: 50px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
}
.div6 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-28xl);
  line-height: 59px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--dark);
  text-align: center;
}
.icon,
.step-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--white);
  flex: 1;
  border-radius: var(--br-base);
  overflow: hidden;
}
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon:hover {
  background-color: var(--color-gainsboro);
}
.step-icons {
  align-self: stretch;
  padding: 0 var(--padding-17xl) 0 var(--padding-17xl-5);
}
.choose-your-location {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.step-cards,
.step-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.step-content {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-25xl) var(--padding-4xl);
  gap: var(--gap-5xl);
  z-index: 1;
  margin-top: -17px;
  font-size: var(--font-size-5xl);
  color: var(--dark);
}
.step-cards {
  width: 214px;
  flex-shrink: 0;
}
.div7,
.div8 {
  position: relative;
}
.div7 {
  margin-left: -2.099999999999909px;
  width: 57px;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}
.div8 {
  flex: 1;
  font-size: var(--font-size-28xl);
  line-height: 59px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--dark);
  text-align: center;
}
.icon-wrapper,
.icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--white);
  flex: 1;
  border-radius: var(--br-base);
  overflow: hidden;
}
.icon-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-17xl) 0 var(--padding-17xl-5);
}
.choose-what-to {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.frame-group,
.step-cards1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-25xl) var(--padding-4xl);
  gap: var(--gap-5xl);
  z-index: 1;
  margin-top: -17px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.step-cards1 {
  width: 214px;
  flex-shrink: 0;
}
.div10,
.div9 {
  position: relative;
}
.div9 {
  margin-left: -3.099999999999909px;
  width: 58px;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
}
.div10 {
  flex: 1;
  font-size: var(--font-size-28xl);
  line-height: 59px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--dark);
  text-align: center;
}
.icon-container,
.icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--white);
  flex: 1;
  border-radius: var(--br-base);
  overflow: hidden;
}
.icon-container {
  align-self: stretch;
  padding: 0 var(--padding-17xl) 0 var(--padding-17xl-5);
}
.may-your-first {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.frame-container,
.step-cards2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-25xl) var(--padding-4xl);
  gap: var(--gap-5xl);
  z-index: 1;
  margin-top: -17px;
  font-size: var(--font-size-5xl);
  color: var(--dark);
}
.step-cards2 {
  width: 214px;
  flex-shrink: 0;
}
.div11,
.div12 {
  position: relative;
}
.div11 {
  margin-left: -3.099999999999909px;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
}
.div12 {
  flex: 1;
  font-size: var(--font-size-28xl);
  line-height: 59px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--dark);
  text-align: center;
}
.icon-frame,
.icon3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--white);
  flex: 1;
  border-radius: var(--br-base);
  overflow: hidden;
}
.icon-frame {
  align-self: stretch;
  padding: 0 var(--padding-17xl) 0 var(--padding-17xl-5);
}
.now-your-food {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.frame-div,
.step-cards3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-25xl) var(--padding-4xl);
  gap: var(--gap-5xl);
  z-index: 1;
  margin-top: -17px;
  font-size: var(--font-size-5xl);
  color: var(--dark);
}
.step-cards3 {
  width: 214px;
  flex-shrink: 0;
}
.order-process,
.process-steps {
  width: 1231px;
  display: flex;
  max-width: 100%;
}
.process-steps {
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-24xl-8);
  color: var(--color-tomato-100);
}
.order-process {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 59px;
}
.order-process-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-176xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-27xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.vector-icon1 {
  height: 55px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 332px;
  object-fit: contain;
}
.our-clients-feedback {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
}
.the-food-at1 {
  width: 532px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.client-quote,
.feedback-quote {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.feedback-quote {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.client-quote {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.client-quote-wrapper,
.feedback-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.client-quote-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 110px 0;
  box-sizing: border-box;
}
.feedback-content {
  width: 755px;
  justify-content: flex-start;
  position: relative;
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 34px;
  font-weight: 500;
  color: var(--color-black);
}
.ceo-bexon-agency,
.mitchell-marsh {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
}
.mitchell-marsh {
  font-weight: 600;
}
.ceo-bexon-agency {
  font-size: var(--font-size-sm);
  color: #616161;
}
.client-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.group-icon {
  height: 36px;
  width: 96px;
  position: relative;
}
.testimonial-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) 0 var(--padding-12xl);
}
.testimonial {
  width: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
}
.client-testimonial {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-lg);
}
.feedback {
  width: 787px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.feedback-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 167px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 44px;
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.browse-local-restaurants,
.subscribe-our-newsletter {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
}
.subscribe-our-newsletter {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 600;
  font-family: inherit;
  max-width: 100%;
}
.browse-local-restaurants {
  height: 26px;
  font-size: var(--font-size-base);
  line-height: 26px;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.from-child {
  height: 62px;
  width: 470px;
  position: relative;
  border-radius: var(--br-12xl-5);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.enter-your-email {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 14px;
  font-weight: 300;
  z-index: 1;
}
.email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 0 0;
}
.send {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 45px;
}
.google-logo {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-tomato-100);
  box-shadow: 0 10px 20px -10px rgba(234, 234, 234, 0.4);
  border-radius: var(--br-37xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.google-logo:hover {
  background-color: var(--color-orangered);
}
.from {
  align-self: stretch;
  border-radius: var(--br-12xl-5);
  background-color: var(--white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-8xs) 26px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.email-form,
.from,
.newsletter-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.email-form {
  width: 470px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: #abacb4;
  font-family: var(--font-inter);
}
.newsletter-container {
  align-self: stretch;
  background-color: #feefec;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-84xl) 128px var(--padding-84xl) 91px;
  max-width: 101%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.background {
  width: 1611px;
  height: 728px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.div13 {
  height: 42px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.app-store-black-border1,
.google-play-black-border1 {
  align-self: stretch;
  width: 186.8px;
  position: relative;
  max-height: 100%;
  min-height: 68px;
  z-index: 1;
}
.google-play-black-border1 {
  width: 182.4px;
}
.footer-app-links,
.footer-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 33px;
}
.footer-columns {
  flex-direction: column;
  justify-content: flex-start;
  gap: 89px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--text-color);
  font-family: var(--font-playfair-display);
}
.quick-links {
  position: relative;
  line-height: 27px;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.features,
.food-menu,
.offer,
.review,
.rider {
  margin-block-start: 0;
  margin-block-end: 11.1px;
}
.pricing-updates-beta-container {
  align-self: stretch;
  height: 249px;
  position: relative;
  line-height: 32.18px;
  color: var(--color-darkgray-300);
  display: inline-block;
  mix-blend-mode: normal;
  z-index: 1;
}
.quick-links-column,
.quick-links-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.quick-links-content {
  align-self: stretch;
  gap: var(--gap-lg-5);
}
.quick-links-column {
  width: 107.2px;
  padding: var(--padding-mid) 12.2px 0 0;
  box-sizing: border-box;
}
.get-to-know {
  position: relative;
  line-height: 27px;
  font-weight: 600;
  z-index: 1;
}
.accessibility,
.doordash-stories,
.gift-cards,
.glassdoor,
.linkedin {
  margin: 0;
}
.gift-cards-doordash-container {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 34px;
  font-family: var(--font-poppins);
  color: var(--color-darkgray-200);
  z-index: 1;
}
.about-column,
.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-content {
  gap: var(--gap-2xl);
}
.about-column {
  padding: var(--padding-mid) var(--padding-sm-2) 0 0;
}
.news {
  position: relative;
  line-height: 27px;
  font-weight: 600;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.blog,
.faq,
.lift-media,
.press {
  margin-block-start: 0;
  margin-block-end: 11.1px;
}
.presse-kit {
  margin: 0;
}
.pricing-updates-beta-container1 {
  align-self: stretch;
  position: relative;
  line-height: 32.18px;
  color: var(--color-darkgray-300);
  mix-blend-mode: normal;
  z-index: 1;
}
.news-column,
.news-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.news-content {
  align-self: stretch;
  gap: var(--gap-lg-5);
}
.news-column {
  width: 102.2px;
  padding: var(--padding-mid) var(--padding-sm-2) 0 0;
  box-sizing: border-box;
}
.contact {
  position: relative;
  line-height: 27px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.support-24,
.whatsapp {
  margin: 0;
}
.whatsapp-support-24-container {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 34px;
  font-family: var(--font-poppins);
  color: var(--color-darkgray-200);
  z-index: 1;
}
.contact-content {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.contact-column,
.contact-content,
.footer-content {
  display: flex;
  align-items: flex-start;
}
.contact-column {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.footer-content {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pizzaall-right-reserved {
  position: relative;
  line-height: 25px;
  z-index: 1;
}
.copyright-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.1px 0 0;
}
.privacy-policy-terms {
  position: relative;
  font-size: var(--font-size-mid-8);
  line-height: 27px;
  white-space: pre-wrap;
  text-align: right;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.copyright {
  width: 1298.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: 15.5px;
  color: var(--color-darkgray-100);
}
.food-delivery-website,
.footer-fitmeal-food-delivery-w {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer-fitmeal-food-delivery-w {
  margin-left: -11px;
  align-self: stretch;
  background-color: var(--color-black);
  padding: 111px 93px 110.6px 160.8px;
  gap: 167.9px;
  max-width: 101%;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-mid-8);
  color: var(--white);
  font-family: var(--font-inter);
}
.food-delivery-website {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  padding: 62px 0 0;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .main {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .newsletter-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1125px) {
  .images-icon,
  .rectangle-parent {
    flex: 1;
  }
  .banner {
    flex-wrap: wrap;
  }
  .root {
    padding-bottom: 130px;
    box-sizing: border-box;
  }
  .category-cards,
  .category-cards1 {
    flex: 1;
  }
  .categories {
    flex-wrap: wrap;
  }
  .description {
    flex: 1;
  }
  .description-parent {
    flex-wrap: wrap;
  }
  .count-container-wrapper {
    padding-bottom: var(--padding-108xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .restaurants-parent {
    display: none;
  }
  .right-column {
    width: 0;
  }
  .your-favorite-food {
    font-size: 49px;
    line-height: 52px;
  }
  .slogan-parent {
    gap: var(--gap-base);
  }
  .rectangle-parent {
    min-width: 100%;
  }
  .banner {
    gap: 54px;
  }
  .content {
    gap: 51px;
  }
  .more-than-10000-container {
    font-size: var(--font-size-18xl);
    line-height: 46px;
  }
  .welcome-message {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .div,
  .div1,
  .div2 {
    font-size: var(--font-size-24xl);
    line-height: 43px;
  }
  .categories,
  .category-cards {
    gap: var(--gap-base);
  }
  .description-content {
    gap: var(--gap-lg);
  }
  .description {
    min-width: 100%;
  }
  .div3,
  .div4,
  .div5 {
    font-size: var(--font-size-24xl);
    line-height: 43px;
  }
  .food-cards {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .count-container {
    gap: 23px;
  }
  .how-to-order {
    font-size: var(--font-size-18xl);
    line-height: 37px;
  }
  .step-dividers {
    font-size: var(--font-size-16xl);
  }
  .div6 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
  .div7 {
    font-size: var(--font-size-16xl);
  }
  .div8 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
  .div9 {
    font-size: var(--font-size-16xl);
  }
  .div10 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
  .div11 {
    font-size: var(--font-size-16xl);
  }
  .div12 {
    font-size: var(--font-size-19xl);
    line-height: 47px;
  }
  .order-process {
    gap: 29px;
  }
  .order-process-wrapper {
    padding-bottom: var(--padding-108xl);
    box-sizing: border-box;
  }
  .our-clients-feedback {
    font-size: var(--font-size-16xl);
    line-height: 43px;
  }
  .feedback-wrapper {
    padding-bottom: 109px;
    box-sizing: border-box;
  }
  .subscribe-our-newsletter {
    font-size: var(--font-size-18xl);
    line-height: 46px;
  }
  .newsletter-container {
    padding-left: 45px;
    padding-right: 64px;
    box-sizing: border-box;
  }
  .div13 {
    font-size: 34px;
  }
  .copyright {
    flex-wrap: wrap;
  }
  .footer-fitmeal-food-delivery-w {
    gap: 84px;
    padding: var(--padding-53xl) 46px var(--padding-53xl) 80px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .your-favorite-food {
    font-size: var(--font-size-18xl);
    line-height: 39px;
  }
  .fill-parent {
    flex-wrap: wrap;
  }
  .app-links {
    height: auto;
    min-height: 167;
  }
  .banner-content {
    min-width: 100%;
  }
  .banner {
    gap: 27px;
  }
  .content {
    gap: 26px;
  }
  .root {
    padding-bottom: 84px;
    box-sizing: border-box;
  }
  .more-than-10000-container {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .div {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .pizza {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .div1 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .burger {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .div2 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .sushi {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .category-cards {
    min-width: 100%;
  }
  .find-deals-free-container {
    font-size: 21px;
  }
  .category-cards1 {
    min-width: 100%;
  }
  .lorem-ipsum-dolor {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .div3 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .pasta {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .div4 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .salad {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .div5 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .desserts {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .food-cards {
    min-width: 100%;
  }
  .count-container-wrapper {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
  .how-to-order {
    font-size: var(--font-size-9xl);
    line-height: 28px;
  }
  .step-dividers {
    font-size: var(--font-size-7xl);
  }
  .div6 {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .choose-your-location {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div7 {
    font-size: var(--font-size-7xl);
  }
  .div8 {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .choose-what-to {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div9 {
    font-size: var(--font-size-7xl);
  }
  .div10 {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .may-your-first {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .div11 {
    font-size: var(--font-size-7xl);
  }
  .div12 {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .now-your-food {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .our-clients-feedback {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .lorem-ipsum-dolor1 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .feedback {
    gap: var(--gap-2xl);
  }
  .subscribe-our-newsletter {
    font-size: var(--font-size-9xl);
    line-height: 35px;
  }
  .from {
    flex-wrap: wrap;
  }
  .newsletter-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div13 {
    font-size: 25px;
  }
  .footer-app-links {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .footer-columns {
    gap: 44px;
  }
  .footer-fitmeal-food-delivery-w {
    gap: var(--gap-23xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
